/* Variables */

:root {
    --emerald: #059669;
    --white: #f9f9f9;
    --neutral: #edeae7;
    --heading: #252b42;
    --text: #858585;
    --hover: #10b981;
}

/* Utility Classes */

.flex-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sr-only {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

/* Universal Styles */

body {
    background-color: var(--emerald);
    font-family: "Quicksand", sans-serif;
    color: var(--heading);
}

section {
    min-height: 100vh;
}

/* Typography */
h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    color: var(--text);
    margin-bottom: 2rem;
}

/* Modal Styles */
.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.modal {
    align-items: center;
    background-color: var(--neutral);
    border-radius: 30px;
    margin: 1rem;
    max-width: 540px;
    width: calc(100% - 2rem);
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(calc(-50% - 1rem), calc(-50% - 1rem));
}


.modal-bg {
    background: url('../img/letter.webp') center / cover no-repeat;
    border-radius: 30px 30px 0 0;
    height: 200px;
}

.modal-body {
    padding: 4rem 2rem;
}

/* Close Button */
.close {
    background: none;
    border: none;
    font-size: 1.25rem;
    gap: 0.5rem;
    justify-content: space-between;
    margin: 0 0 3rem auto;
    transition: all 0.3s;
}

.close svg {
    width: 1.5rem;
}

.close svg path {
    stroke: var(--heading);
    transition: all 0.3s;
}

.close:hover,
.close:hover svg path {
    color: var(--emerald);
    stroke: var(--emerald);
}

/* Modal Form */
input {
    height: 3rem;
}

input[type="email"] {
    border: none;
    border-radius: 1rem 0 0 1rem;
    flex: 1 0 calc(80% - 1rem);
    padding: 0 1rem;
}

input[type="submit"] {
    background-color: var(--emerald);
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: var(--white);
    flex: 0 1 20%;
    padding: 0 1rem;
    transition: all 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--hover);
}

@media screen and (min-width: 640px) {
    .wide-flex {
        display: flex;
    }

    .modal {
        max-width: 960px;
    }

    .modal-body {
        padding: 6rem 4rem;
    }

    .modal-bg {
        border-radius: 30px 0 0 30px;
        height: 454px;
        width: 400px;
    }
}