:root {
    --material-blue: rgb(26, 115, 232);
    --form-bg: #f1f1f1;
    --black: #121212;
    --white: #fff;
    --intro-p: #333;
    --fieldset: #666;
    --input-border: #d9d9d9;
    --footer: #37474f;
}

/* Universal Styles */

body {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

header svg {
    width: 2rem;
}

/* Utility Classes */
.inner-container {
    margin: 0 auto;
    max-width: 1024px;
}

.sr-only {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

/* Typography */
h2,
h3,
legend,
label[for="submit"] {
    font-weight: 100;
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

legend,
label[for="submit"] {
    font-size: 1.75rem;
    margin: 1rem 0;
}

/* Header */
header {
    background-color: var(--material-blue);
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.3), 0px 1px 3px 1px rgba(60,64,67,.15);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .inner-container,
header ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    padding-left: 0;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header svg path {
    fill: var(--white);
}

/* Main Style */
main {
    padding: 1rem;
}

.intro {
    margin: 3rem 0 4rem 0;
}

.intro h2 {
    margin-bottom: 1rem;
}

.intro p {
    color: var(--intro-p);
    margin-bottom: 1rem;
}

/* Form Styles */
main form {
    background-color: var(--form-bg);
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(60,64,67,.3);
    padding: 2rem;
}

fieldset {
    border: none;
    color: var(--fieldset);
    margin-bottom: 2rem;
    padding: 0;
}

fieldset > div {
    margin-bottom: 1.125rem;
}

form input:not([type="radio"], [type="checkbox"], [type="submit"]),
select,
textarea {
    border: 1px solid var(--input-border);
    border-radius: 2px;
    height: 2.5rem;
    padding: 0.5rem;
    width: 100%;
}

form input:not([type="radio"], [type="checkbox"], [type="submit"]) {
    box-shadow: inset 0 1px 2px rgba(60,64,67,.15);
}

form textarea {
    max-height: 16rem;
    min-height: 5rem;
    resize: vertical;
}

p.help {
    font-size: 0.8em;
    margin: 0.5rem 0;
    opacity: 0.65;
}

form label:not(input[type="radio"] + label, input[type="checkbox"] + label) {
    display: block;
    margin-bottom: 0.5rem;
}

form > div:last-of-type {
    margin-top: 4rem;
}

form input[type="submit"] {
    background-color: var(--material-blue);
    border: none;
    border-radius: 16px;
    color: var(--white);
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    text-shadow: 0 1px rgba(60,64,67,.3);
    width: 6rem;
}

/* Footer */
footer {
    background-color: var(--footer);
    color: var(--white);
    margin-top: 4rem;
    padding: 2rem 0;
    text-align: center;
}

footer h2 {
    font-size: 1.125rem;
}

@media screen and (min-width: 720px) {
    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset > div {
        flex: 0 1 48%;
    }
}