@font-face {
    font-family: 'KoHo';
    src: url('KoHo-Bold.woff2') format('woff2'),
        url('KoHo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* catamaran from adobe font link  */
/* <link rel="preload" href="KoHo-Bold.woff2" as="font" type="font/woff2" crossorigin> */
